{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>{% trans 'Hoholink' %}</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 2rem; width: 48rem;">
            <h1 style="text-align: center; font-size:6rem">{% trans 'Hololink' %}</h1>
        </div>
    </div>
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 2rem;width: 48rem;">
            <h1 style="text-align: center;">{% trans 'Built for everyone.' %}</h1>
            <h2><br></h2>
            <p>
            <h5>{% trans "Hololink is a tool, helping you generate a series of structure data and useful result analysis while you're reading." %}
            </h5>
            </p>
        </div>
    </div>
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 2rem;width: 48rem;">
            <h1 style="text-align: center;">{% trans 'Note whithout note.' %}</h1>
            <h2><br></h2>
            <p>
            <h5>{% trans "You don't have to note or to remember anything. You just do what you used to do, and we'll take care of the rest." %}
            </h5>
            </p>
        </div>
    </div>
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 2rem; width: 48rem;">
            <h1 style="text-align: center;">{% trans 'We will' %}</h1>
            <p>
            <h5 style="text-align: center;">
                {% trans "gather, relate, store and share. Now you are free from taking note." %}
            </h5>
            </p>
        </div>
    </div>
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 2rem; width: 30rem;">
            <h1 style="text-align: center;font-size: 3rem">{% trans 'Join us' %}</h1>
            <h2><br></h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-row">
                    <div class="form-group col">
                        {% render_field field class+='form-control' placeholder=field.label %}
                        {% if field.errors %}
                        <p>{{ field.errors }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-row">
                    <div class="form-group col">
                        {{ form.non_field_errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit"
                            class="btn btn-success btn-block">{% trans 'Sign up for Hololink' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
</div>
{% endblock %}