{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>{% trans 'Done' %}| {% trans 'Set a new password' %} | {% trans 'Accounts' %}</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem; width: 24rem;">
            <h1 style="text-align: center;">{% trans 'Done' %}</h1>
            <h2><br></h2>
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'zh-hant' %}
            <p>你的密碼已重設完成，你可以接著立刻<a href="{% url 'login' %}">{% trans 'login' %}</a>。</p>
            {% else %}
            <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">{% trans 'login' %}</a>{% trans ' now.' %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}