* {
    font-family: Georgia, 'Noto Sans TC', 'Times New Roman', Times, serif;
    color: #343A40;
}

html {
    height: 100%;
}
 
body {
    height: 100%;
}

body {
    padding-bottom: 136px;
}

.container-fluid {
    min-height: 100%;
}

th {
    font-family: 'Roboto Slab', 'Noto Sans TC', 'Times New Roman', Times, serif;
    font-weight: 500;
}

.j3y-table th {
    width: 4.5rem;
}

.j3y-df td, th {
    max-width: 15rem;
    word-wrap: break-word;
}

.j3y-border-1 {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .5rem;
}

.j3y-border-2 {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .5rem;
}

.j3y-border-3 {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: .5rem;
}

.j3y-border-4 {
    border: 1px solid rgba(0,0,0,.4);
    border-radius: .5rem;
}

.j3y-border-5 {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: .5rem;
}

.j3y-bg-theme-color-1 {
    background-color: rgb(218, 238, 238, .2);
}

.j3y-bg-theme-color-2 {
    background-color: rgb(218, 238, 238, .4);
}

.j3y-bg-theme-color-3 {
    background-color: rgb(218, 238, 238, .6);
}

.j3y-bg-theme-color-4 {
    background-color: rgb(218, 238, 238, .8);
}

.j3y-bg-theme-color-5 {
    background-color: rgb(218, 238, 238, 1);
}